.welcome-header {
  margin: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome-header__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.welcome-header__text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  gap: 1rem;
}

.login-form__input {
  padding: 1rem 0;
  border: none;
  font-size: 1.8rem;
}

.login-form__input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  border-color: var(--c-yellow);
}

.login-form__input[type="submit"] {
  margin: 1rem 0 0.6rem 0;
  padding: 1.6rem 0;
  background-color: var(--c-yellow);
  cursor: pointer;
  border-radius: 3px;
}

.login-form__a {
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-size: 1.3rem;
  transition: all 0.3 ease-in;
}
.login-form__a:hover {
  color: rgba(0, 0, 0, 0.6);
}
