.status-bar {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  box-sizing: border-box;
  font-size: 12px;
}

.status-bar__column {
  width: 33.3%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-bar__column:nth-child(2) {
  justify-content: center;
}
.status-bar__column:last-child {
  justify-content: flex-end;
}
