@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";

html,
body {
  font-size: 62.5%;
  font-family: "Pretendard", sans-serif;
  color: var(--c-gray-800);
}

ion-icon {
  --ionicon-stroke-width: 40px;
}